<!DOCTYPE html>
<html>
  <head>
    <title>영화, 그 이상의 감동. GRL</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/jpg" href="/images/logo.png">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"> -->
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <!-- <script src="/javascripts/jquery.js" ></script>
    <script src="/js/bootstrap.min.js"></script> -->
    <script src="/javascripts/javascript.js"></script>
  </head>
  <body>
    <div id="header">
        <div id="nav">
            <img src="/images/logo.png" id="logo" />
               <p id="logo_text"></p>
            <a href="#" class="nav_links">로그인</a>
            <a href="#" class="nav_links">회원가입</a>
            <a href="#" class="nav_links">도움말</a>
        </div>
        <div id="welcome_text_div">
            <p id="welcome_text">GOD ROYAL</p>
        </div>
    </div>

    <!-- ###################################################################3 -->


    <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/wanaka-tree.jpg">
    <div id="carousel">
      <figure id="spinner">
        <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79583/79583_185.jpg" alt>
        <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79556/79556_185.jpg" alt>
        <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79569/79569_185.jpg" alt>
        <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79583/79583_185.jpg" alt>
        <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79537/79537_185.jpg" alt>
        <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79597/79597_185.jpg" alt>
        <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79587/79587_185.jpg" alt>
        <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79594/79594_185.jpg" alt>
        <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79583/79583_185.jpg" alt>
        <img src="http://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79592/79592_185.jpg" alt>
      </figure>
    </div>
    <span style="float:left" class="ss-icon" onclick="galleryspin('')">&lt;</span>
    <span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>


    <!-- ###################################################################3 -->





    <div id="footer">
      <footer class="top-footer">
        <h5>Join GodRoyal On</h5>
        <ul class="social">
          <li><a class="facebook" href=#></a></li>
          <li><a class="google" href=#></a></li>
          <li><a class="pinterest" href=#></a></li>
          <li><a class="youtube" href=#></a></li>
          <li><a class="instagram" href=#></a></li>
          <li><a class="linkedin" href=#></a></li>
        </ul>
      </footer>
    </div>



  </body>
</html>
