<!DOCTYPE html>
<html>
  <head>
    <title>영화, 그 이상의 감동. GRL</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/jpg" href="/images/logo.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/temp1.css'>
    <script src="/javascripts/jquery.js" ></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/javascripts/javascript.js"></script>
  </head>
  <body>

        <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
                <!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 화살표...-->
                <span class="sr-only"></span>
            </a>
            <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
                <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 화살표...-->
                <span class="sr-only"></span>
            </a>
        </div>



  </body>
</html>
